@font-face {
    font-family: Minecraft;
    src: url(Minecraft_rus.ttf);
}

body
{
    background: url(images/bg.jpg);
    text-align: center;
}

div
{
    -moz-column-count: 5;
    -moz-column-width: 250px;
    -moz-column-rule: 1px solid #000;
    -webkit-column-count: 5;
    -webkit-column-rule: 1px solid #000;
    column-count: 5;
    column-width: 200px;
    column-rule: 1px solid #000;
}

h1
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    margin: 5px;
    text-align: center;
    font: 60px bold 'Lora',serif;
}

h1::before,
h1::after
{
    display: inline-block;
    width: 30%;
    height: 100px;
    background-size: 100% 100px;
    content:"";
}
h1::before
{
    background-image: url('images/decore.png');
}
h1::after
{
    background-image: url('images/decore2.png');
}

h2
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    text-align: center;
    font: 30px italic 'Lora', serif;
}

h3
{
    text-align: center;
    font: 20px 'Lora',serif;
}

figure
{
    width: 100%;
    text-align: center;
    margin: auto;
}

img
{
    text-align: center;
    width: 70%;
}

figcaption
{
    font: 15px 'Droid Sans',sans-serif;
    width: 95%;
    text-align: justify;
    padding: 2%;
}

p
{
    text-align: justify;
    padding-right: 10px;
    padding-left: 15px;
    text-indent: -10px;
    font: 20px 'Droid Sans',sans-serif;
    hyphens: auto;
}

ol p
{
    padding-left: 5px;
}

p::first-letter
{
    font-family: 'Trade Winds', cursive;
    font-size: 25px;
}

.nowrap
{
    white-space: nowrap;
    font-style: italic;
}

blockquote
{
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
    font-size: 40px;
    font-variant: small-caps;
}

.author
{
    font-size: 15px;
    font-family: Minecraft, sans-serif;
}

.fontSize[value="20"] ~ main p
{
    font-size: 20px;
}

.fontSize[value="22"] ~ main p
{
    font-size: 22px;
}

.fontSize[value="24"] ~ main p
{
    font-size: 24px;
}

.fontFamily[value="sansSerif"] ~ main p
{
    font-family: 'Droid Sans', sans-serif;
}

.fontFamily[value="serif"] ~ main p
{
    font-family: 'Lora',serif;
}

.fontFamily[value="cursive"] ~ main p
{
    font-family: 'Comic Sans MS', cursive;
}

.fontFamily[value="fantasy"] ~ main p
{
    font-family: 'Minecraft', fantasy;
}

.fontFamily[value="monospace"] ~ main p
{
    font-family: 'Courier New', monospace;
}

.pageStyle[value="night"] ~ header,
.pageStyle[value="simple"] ~ main
{
    background: none;
}

.pageStyle[value="night"] ~ header,
.pageStyle[value="night"] ~ main
{
    background: url(images/nightbg.jpg);
}

.pageStyle[value="simple"] ~ main p,
.pageStyle[value="simple"] ~ header h1,
.pageStyle[value="simple"] ~ main h2,
.pageStyle[value="simple"] ~ main figcaption,
.pageStyle[value="simple"] ~ main h3,
.pageStyle[value="simple"] ~ main span,
.pageStyle[value="simple"] ~ main blockquote
{
    color: #000;
}

.pageStyle[value="night"] ~ main p,
.pageStyle[value="night"] ~ header h1,
.pageStyle[value="night"] ~ main h2,
.pageStyle[value="night"] ~ main figcaption,
.pageStyle[value="night"] ~ main h3,
.pageStyle[value="night"] ~ main span,
.pageStyle[value="simple"] ~ main blockquote
{
    color: #fff;
}
